{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Plataforma de reseñas y recomendaciones sobre universidades, materias y docentes.">
  <meta name="keywords" content="universidades, docentes, materias, recomendaciones">
  <title>{% block title %}Cursala{% endblock %}</title>
  
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'favicon16x16.png' %}">
  
</head>
<body>
  <!-- Header -->
  <header>
    <nav>
      <a href="{% url 'facultad_list' %}">
        <img src="{% static 'blanco.png' %}" alt="logo-cursala">
      </a>
      <button type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
      </button>
      <div>
        <ul>
          <li>
            <a href="{% url 'top_facultades' %}">Top Universidades</a>
          </li>
          <li>
            <a href="{% url 'top_profesores' %}">Top Docentes</a>
          </li>
          <li>
            <a href="{% url 'cursala' %}">Cursala</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Contenido principal -->
  <main>
    <div>
      <div>
        <!-- Quick navigation links -->
        <div>
          <a href="{% url 'facultad_list' %}">Universidades</a>
          <a href="{% url 'todas_materias' %}">Materias</a>
          <a href="{% url 'todos_profesores' %}">Profesores</a>
        </div>

        <!-- Bloque de contenido dinámico -->
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer>
    <span>2024 Cursala | Buenos Aires, Argentina</span>
  </footer>
</body>
</html>
