{% extends 'base.html' %}

{% block title %}Cursala{% endblock %}

{% block content %}
<style>
    .container {
        max-width: 800px;
        margin: 2rem auto;
        padding: 1rem;
        background-color: #f9f9f9;
        border: 1px solid #e1e1e1;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .container h1 {
        font-size: 2rem;
        color: #0e294b;
        margin-bottom: 1rem;
    }

    .container p {
        font-size: 1rem;
        color: #555;
        line-height: 1.6;
        margin-bottom: 1rem;
    }

    @media (max-width: 1930px) {
        .container {
            max-width: 700px;
            padding: 0.75rem;
        }

        .container h1 {
            font-size: 1.5rem;
        }

        .container p {
            font-size: 0.95rem;
        }
    }

    @media (max-width: 768px) {
        .container {
            max-width: 90%;
            padding: 0.6rem;
        }

        .container h1 {
            font-size: 1.5rem;
        }

        .container p {
            font-size: 0.9rem;
        }
    }

    @media (max-width: 576px) {
        .container {
            max-width: 95%;
            padding: 0.5rem;
        }

        .container h1 {
            font-size: 1.2rem;
        }

        .container p {
            font-size: 0.85rem;
        }
    }
</style>

<div class="container mt-4">
    <h1>Cursala</h1>
    <p>El proyecto "Cursala" es una plataforma web que permite a los usuarios explorar información sobre distintas universidades, materias y profesores. Los usuarios pueden dejar comentarios y calificaciones anónimas sobre los profesores, lo que ayuda a construir una base de datos colaborativa de opiniones que pueden beneficiar a estudiantes en la toma de decisiones académicas.</p>
    <p>Nuestro objetivo es facilitar el acceso a la información educativa y ayudar a los estudiantes a tomar decisiones informadas sobre su educación.</p>
    <p>Cursala no se hace responsable por los comentarios y calificaciones publicados por los usuarios en la plataforma. Las opiniones expresadas son exclusivamente de los usuarios y no reflejan la opinión de la administración de Cursala. Los usuarios son responsables del contenido que publican.</p>
</div>
{% endblock %}
