{% extends 'base.html' %}

{% block title %}Cursala - Agregar Profesor{% endblock %}

{% block content %}
<!-- Contenedor del formulario -->
<div class="add-profesor-container">
    <!-- Encabezado principal de la página -->
    <h1>Agregar Profesor</h1>

    <!-- Formulario para agregar un nuevo profesor -->
    <form method="post">
        <!-- Token CSRF para proteger el formulario contra ataques CSRF -->
        {% csrf_token %}
        <!-- Renderizado del formulario Django -->
        {{ form.as_p }}
        <!-- Botón para enviar el formulario -->
        <button type="submit">Guardar</button>
        <!-- Botón para regresar a la página anterior -->
        <button type="button" onclick="history.back()">Volver</button>
    </form>
</div>
{% endblock %}
