{% extends 'base.html' %}

{% block title %}Cursala - Top 10 Universidades{% endblock %}

{% block content %}

<!-- Encabezado principal de la página -->
<h1>Top 10 Universidades</h1>

<!-- Descripción sobre el significado del Top 10 -->
<p>
    Esta lista muestra las 10 mejores universidades basadas en el puntaje promedio que los alumnos asignan a los profesores.
</p>

<!-- Lista desordenada de facultades -->
<ul>
    {% for facultad in facultades %}
    <li>
        <a href="{% url 'materia_list' facultad.id %}">
            <h3>{{ facultad.nombre }}</h3>
            <span>Promedio: {{ facultad.total_promedio|floatformat:2 }}</span>
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
