{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Cursala - Top 10 Profesores{% endblock %}

{% block content %}

<h1>Top 10 Profesores</h1>
<p>
    Esta lista muestra los 10 mejores profesores basados en el puntaje promedio que los alumnos les asignan.
</p>

<div>
    <div>
        <form method="get" id="filterForm">
            <select name="facultad" id="facultad" onchange="submitForm()">
                <option value="">Universidad</option>
                {% for facultad in facultades %}
                <option value="{{ facultad.id }}" {% if facultad.id|stringformat:"s" == request.GET.facultad %}selected{% endif %}>
                    {{ facultad.nombre|extract_parentheses }}
                </option>
                {% endfor %}
            </select>
        </form>
       
        <script>
            function submitForm() {
                document.getElementById('filterForm').submit();
            }
        </script>        
    </div>

    <ul>
        {% for profesor in profesores %}
        <li>
            <div>{{ forloop.counter }}</div>
            <div>
                <div>
                    {{ profesor.nombre }}
                    <span>({{ profesor.promedio|floatformat:2 }})</span>
                    <span>
                        {% for facultad in profesor.facultades.all %}
                            {{ facultad.nombre|extract_parentheses }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </div>
            <a href="{% url 'profesor_detail' profesor.pk %}">Ver detalles</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
